<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.ExpAPPBarranco"
    versionCode = "301"
    version   = "1.0.0">

<name>Barranco GIT</name>

<description>
Proyecto del primer aplicativo móvil para la Municipalidad de Barranco.
</description>

<author href="http://experimedia.pe/" email="jonathanccoicca@gmail.com">
Jonathan D. Ccoicca Jiménez
</author>

<icon src="imagenes/iconoapp.png" />

<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.device-motion" />
<gap:plugin name="org.apache.cordova.media" />
<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="org.apache.cordova.file" />
<gap:plugin name="org.apache.cordova.file-transfer" />
<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.2" />

<preference name="stay-in-webview" value="false" />
<preference name="orientation" value="landscape" />

</widget>
